<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 最新稳定版 Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<div id="hhh">
    <h1>hhh</h1>
    <table border="1" cellspacing="0">
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>图像</th>
            <th>性别</th>
            <th>职位</th>
            <th>入职日期</th>
            <th>最后操作时间</th>
        </tr>
        <tr v-for="(item,index) in emps">
            <td>{{index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.image}}</td>
            <td v-if="item.gender==1">
                男
            </td>
            <td v-else>
                女
            </td>
            <td>{{item.job}}</td>
            <td>{{item.entrydate}}</td>
            <td>{{item.updatetime}}</td>
        </tr>
    </table>
</div>

<script>
    new Vue({
        el: "#hhh",
        data: {
            emps: []
        },
        methods: {

        },
        mounted() {
            axios.get("http://127.0.0.1:5000/api/data").then((res)=>{
                console.log(res.data.users);
                this.emps = res.data.users;
            })
        }
    });
</script>
</body>
</html>